<!-- Slider Start -->
<section id="global-header" style="background-image: url('{{.Params.bgImage | absURL }}');">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1>{{ .Title }}</h1>
                    <p>{{ .Params.subtitle }}</p>
                </div>
            </div>
        </div>
    </div>
</section>
