<!-- simple contact -->
<section id="simplecontact">
  <div class="container">
    <div class="row">
        <div class="section-title text-center">
          <h2>{{ .Site.Params.simplecontact.title }}</h2>
          <p>{{ .Site.Params.simplecontact.italic }}</p>
          <p>{{ .Site.Params.simplecontact.paragraph }}</p>
        </div>
      </div><!-- .col-md-7 close -->
    </div>
  </div>
</section>
