<!DOCTYPE html>
<html>
<head>

	  {{ partial "head.html" . }}

</head>
<body>

	  {{ partial "header.html" . }}

	  {{ if and (isset .Site.Params "slider") (.Site.Params.slider.enable) }}
		{{ partial "slider.html" . }}
	  {{ end }}

	  {{ if and (isset .Site.Data "service") (.Site.Data.service.enable) }}
		{{ partial "service.html" . }}
	  {{ end }}

	  {{ if and (isset .Site.Params "wrapper") (.Site.Params.wrapper.enable) }}
		{{ partial "wrapper.html" . }}
	  {{ end }}

	  {{ if and (isset .Site.Params "feature") (.Site.Params.feature.enable) }}
		{{ partial "feature.html" . }}
	  {{ end }}

    <!-- comment/uncomment to disable/enable call -->
    <!-- {{ partial "call-to-action.html" . }}
    -->

	  {{ partial "testimonial.html" . }}

	  {{ if and (isset .Site.Params "simplecontact") (.Site.Params.simplecontact.enable) }}
		{{ partial "simplecontact.html" . }}
	  {{ end }}

	  {{ partial "footer.html" . }}

</body>
</html>
